html, body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans';
}

.room-panel {
    width: 19%;
    min-height: 100%;
    padding-left: 25px;
    padding-top: 1px;
    background: lightgray;
}

.chat-panel {
    position: absolute;
    left: 20%;
    top: 2%
}
