<section class="room-panel">
    <h1>Bloc Chat</h1>

    <div ng-controller="AddRoomCtrl as addRoom">
        <div class="add-button" type="button" ng-click="addRoom.addNewRoom()">Add a room</div>
    </div>
    <section>
        <p ng-repeat="room in home.rooms"><a ng-click="home.changeRoom(room.$id, room.$value)">{{ room.$value }}</a></p>
    </section>
</section>
<section class="chat-panel">
    <div class="chat-panel-header">
        <h3>{{ home.currentRoomName }}</h3>
    </div>
    <div ng-repeat="message in home.messages" ng-class-odd="'odd'" ng-class-even="'even'">
        <div class="user">{{ message.username }}: </div>
        <div class="content">{{ message.content }}</div>
        <div class="time">{{ message.sentAt }}</div>
    </div>
</section>
<section class="new-message-area">
    <form id="chatForm" ng-submit="home.submitMessage()">
        <label>Message: <input id="chatInput" type="text" class="message-box" ng-model="home.newMessage" placeholder="Express your author-ity!"></label>
        <div class="message-button" type="button" ng-click="home.submitMessage()">Send it!</div>
    </form>
</section>
